.footer__column-link {
    line-height: 18px;
    font-size: 18px;
    font-weight: normal;
    color: white;
    text-decoration: none;
    margin: 0 0 10px 0;
    padding: 0;
}

.footer__column-link:nth-child(3) {
    margin: 0;
}